@import url("../../../Colours.css");

.education-container{
    background-color: var(--backgroundGreen);
    /*height: 50vh;*/
    padding:10rem 10rem 10rem 10rem;
}

.education-headline{
    font-size: 3vw;
    margin-bottom: 2vw;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}

.education-text > p{
    font-size: 1.6vw;
    font-family: 'Titillium Web', sans-serif;
    line-height: 3vw;
    margin-bottom: 2vh;
}

.education-img{
    float: right;
    margin-left:0.5rem;
    height: 13vw;
    margin-right: 2rem;
}

@media screen and (max-width: 960px) {
    .education-container{
        background-color: var(--backgroundGreen);
        /*height: 50vh;*/
        padding:4rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }

    .education-headline{
        font-size: 5vw;
        margin-bottom: 1.5vw;
    }

    .education-text > p{
        font-size: 3vw;
        font-family: 'Titillium Web', sans-serif;
        line-height: 6vw;
        margin-bottom: 2vh;
    }
 
    .education-img{
        float: right;
        margin-left:0.5rem;
        margin-right: 0px;
        height: 20vw;
    }
}


@media screen and (min-width: 960px) and (max-width: 1200px){
    .education-headline{
        font-size: 5vw;
        margin-bottom: 1.5vw;
    }

    .education-text > p{
        font-size: 3vw;
        font-family: 'Titillium Web', sans-serif;
        line-height: 6vw;
        margin-bottom: 2vh;
    }

}

/*Mobile*/
@media screen and (max-width: 768px) {
    .education-container{
        background-color: var(--backgroundGreen);
        /*height: 50vh;*/
        padding:2.5rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
    }
    .education-headline{
        font-size: 7vw;
        margin-bottom: 2vw;
        text-align: left;
    }
    .education-text > p{
        font-size: 4vw;
    }
}