/*Import of Font family Titillium Web from google.*/
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;600&display=swap');

/*Import of Font family Montserrat from google.*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');
/*
  Light: 300
  Regular: 400 
  Medium: 500
*/
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

h1,h2,h3,h4{
  color:#131313;
}
.home,
.services,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.products {
  
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/*TODO: Bestäm max-bredd här och sen fixa så de är på alla sidor.*/
.mainContainer{
  padding-inline: 40px;
  max-width: 1400px;
}

.sectionHeading{
  font-weight: 500;
  font-size: 2vw;
  margin-top: 5px;
  text-transform: uppercase;
}

@media screen and (max-width: 960px) {
  .sectionHeading{
    font-size: 6vw;
  }

  .mainContainer{
    padding-inline: 10px;
  }
}